@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0; word-break: break-all;
    padding: 0; box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}

ul{list-style: none;}

body { background-color: #ececec; height: 100vh; width: 100%;}

/* 상단 제목들 */
h1.etiquette{ margin-top: 0.5em;
    font-size: 2.5em; line-height: 1.5; font-weight: 700;
}
h2.etiquette_sub_title{padding: 10px 0; font-size: 1.5em; word-break: keep-all; line-height: 1.2; font-weight: 500;}

/* 메인 컨테이너 */
.container{ width: 960px;
    margin: 0px auto;
    text-align: center;}

section{ width: 100%; background-color: #fff;margin-bottom: 1.8em; border-radius: 20px; box-shadow: rgba(0, 0, 0, 0.7) 0px 4px 12px;}

.chat_head{
    width:100%; height: 50px; background-color: #5759FF; 
    border-top-left-radius: 20px;border-top-right-radius: 20px;
}

.chat_content{overflow-y: scroll; scroll-behavior: smooth; position: relative; padding: 0.8em; width:100%; height: 600px; box-sizing: border-box; } 

/* 채팅창 스크롤바 */
.chat_content::-webkit-scrollbar {
  width: 8px;  /* 스크롤바의 너비 */
}

.chat_content::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #D9D9D9; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.chat_content::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

/* 채팅창 질문들 */
.chat_content > ul{ display: grid; grid-template-rows: max-content; row-gap: 15px;} 
.chat_content > ul > li{ margin-top: 40px;
    padding: 0.5em 0.8em; border-radius: 20px; word-break: keep-all; position: relative; max-width: 70%; font-size: 1.2em; } 
.chat_content > ul > li.bot_right{justify-self: end; border-top-right-radius: 1px; text-align: right; background-color: #D9D9D9;}  
.chat_content > ul > li.bot_right::before{content:"ME";  color: #fafafa; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;font-size: 18px; width: 40px; aspect-ratio: 1/1; background-color: #5759FF; display: flex; justify-content: center; align-items: center; border-radius: 50%; position: absolute; top: -25px; right: 0px; transform: translate(0%,-50%);}  

.chat_content > ul > li.bot_left{justify-self: start;  border-top-left-radius: 1px; text-align: left; background-color: #FCF2E4;}
.chat_content > ul > li.bot_left::before{content:"BOT"; color: #fafafa; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; font-size: 18px; width: 40px; aspect-ratio: 1/1; background-color: #FFD555; display: flex; justify-content: center; align-items: center; border-radius: 50%; position: absolute; top: -25px; left: 0px; transform: translate(-50%,-50%);}  

/* 인풋과 버튼들 */
.input_area{ border-bottom-left-radius: 20px;padding: 0.8em;  border-bottom-right-radius: 20px; background-color: #323941;width: 100%; display: flex; flex-direction: row; height: 70px; }
#select_input{ padding: 0.5em; 
    border-radius: 30px; margin-left: 10px; font-size: 1em; width: 80%;}
#select_btn{ color: #fff; margin-left: 20px; background: none; border: none;font-size: 2.2em; line-height: 1.2; width: 15%;}
#select_btn:hover{ font-size: 2em; border: 1px solid #fff; border-radius: 15px; font-weight: 900; transition: all 0.2s;
  }
  #select_btn:disabled{ transform: rotate(45deg); color: #FFD555; border: none; 
  }

  .reset_btn{
    font-size: 1em; padding: 5px; border-radius: 20px;background-color: #fff; }
  .reset_btn:hover{ border: 2px solid #fff; background-color: #5759FF; color:#fff; font-size: 1.05em; font-weight: 600;}

  
  
/* 태블릿 크기 */
@media (max-width: 1024px) {
    .container {
      width: 90%;
    }
    .chat_content {
      height: 500px;
    }
  }
  
  /* 모바일 크기 */
  @media (max-width: 768px) {
    .container {
      width: 100%;
      padding: 0 20px;
    }
    h1.etiquette {
      font-size: 2em;
    }
    h2.etiquette_sub_title {
      font-size: 1.2em;
    }
    .chat_content {
      height: 450px;
    }
    .chat_content > ul > li {
      max-width: 80%;
      font-size: 1em;
    }
    .input_area {
      height: 70px;
    }
    #select_input {
      width: 70%;
    }
    #select_btn {
      width: 20%;
    }
  }